<!DOCTYPE html>
<html>
<head>
  <title>Wanna play?</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet'>
    <link href='/static/madlibs.css' rel='stylesheet'>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
</head>
<body>
    <form action="/game">
        <label>Would you like to play a game?
            <input type="radio" name="yes">yes
            <input type="radio" name="no">no
        </label>
        <input type="submit">
    </form>
</body>
</html>