<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
</head>
<body>
    <h1>Game</h1>
    <form action="/madlib">
        <label>What's your favorite color? <input type="text" name="color"></label>
        <br>
        <label>What's your favorite thing? <input type="text" name="noun"></label>
        <br>
        <label>Who's your favorite person? <input type="text" name="person"></label>
        <br>
        <label>How would you describe yourself using one adjective? <input type="text" name="adjective"></label><br>
        <input type="submit">
    </form>
</body>
</html>
