<!DOCTYPE html>
<html>
<head>
    <title>Madlibs Game</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet'>
    <link href='/static/css/madlibs.css' rel='stylesheet'>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
</head>
<body>
    <center>
    <h1>Madlibs Game</h1>
    <h3>{{ person }}, ready to play?</h3>
    <form action="/madlib">
        <label>What's your favorite color? <input type="text" name="color" required></label>
        <br>
        <label>What's your favorite thing? <input type="text" name="noun" required></label>
        <br>
        <label>Who's your favorite person? <input type="text" name="person" required></label>
        <br>
        <label>How would you describe yourself using one adjective? <input type="text" name="adjective" required></label><br>
        <input type="submit">
    </form>
        <p class="small-instruction">Click me!</p>
        <img src="http://placekitten.com/g/200/300">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/js/script.js"></script>
    </center>
</body>
</html>
