<!DOCTYPE html>
<html>
<head>
    <title>Goodybe</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet'>
    <link href='/static/css/madlibs.css' rel='stylesheet'>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
</head>
<body>
    <h1>Goodbye</h1>
    <p>Bye, {{ person }}!</p>
    </form>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/js/script.js"></script>    
</body>
</html>
