<!DOCTYPE html>
<html>
<head>
    <title>Hi There!</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet'>   
    <link href='/static/madlibs.css' rel='stylesheet'>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
</head>
<body>
    <h1>Hi There!</h1>
    <form action="/greet">
        <label>What's your name? <input type="text" name="person"></label>
        <input type="submit">
    </form>
</body>
</html>
