<!DOCTYPE html>
<html>
<head>
    <title>Madlib</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet'>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link href='/static/css/madlibs.css' rel='stylesheet'>
</head>
<body>
    <p>There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab. When {{ person }} went to pick it up, it burst into flames in a totally {{ adjective }} way.</p>
</body>
</html>
